@import "../../styles.scss";

.container-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem 0;
  label{
    color: $mainBlack;
    font-size: 1rem;
  }
  input[type=submit]{
    background-color:$mainGreen;
    border: none;
    color: $mainWhite;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
}

input[type=text],select,input[type="submit"]{
  padding: 0.8rem 1.2rem;
  margin: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  background-color: $mainGray;
  border: 0.1rem solid #d2cece;
  font-size: 1rem;
  text-align: center;
}

@media screen and(max-width: 600px){
  .container-search{
    flex-direction: column;
  }
}